.slider-container
	padding 0.5rem
	borderRadius=1rem
	.slider
		height 1.125rem
		width 100%
	.handle
		font-size 1rem
		text-align center
		background-color black
		color white
		cursor pointer
		width 1.125rem
		height 1.125rem
		border-radius 30%
	.handle.active
		background-color grey
	.bar
		position relative
		background #ddd
		top .25rem
		height .5rem
	.bar.bar-0		
		border-top-left-radius borderRadius
		border-bottom-left-radius borderRadius
	.bar.bar-1
		background #19BF0E
	.bar.bar-2
		border-top-right-radius borderRadius
		border-bottom-right-radius borderRadius